{% extends 'base.html' %}

{% block content %}

<h2>Guide Login</h2>
{% if messages %}
    {% for message in messages|slice:":1" %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<form method="post">

{% csrf_token %}

<label>Username</label>
<input type="text" name="username" class="form-control">

<label>Password</label>
<input type="password" name="password" class="form-control">

<br>

<button type="submit" class="btn btn-success">Login</button>

</form>

{% endblock %}